.bg {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.navbarp {
    color: aliceblue;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #AEB6BF);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#AEB6BF, #000000);   
}
