

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.login.color{
    position: absolute;
    filter: blur(150px);
}

section.login.color:nth-child(1){
    top:-350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}

section.login.color:nth-child(2){
    bottom:-150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #ff359b;
}

section.login.color:nth-child(3){
    top:-350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}