body {

    background-color: black !important;

    margin-top: auto;
    margin-left:auto;

    background-size: 300% 300%;
    background-image: linear-gradient( -45deg, rgba(124, 207, 245, 0.776) 0%, rgb(208, 225, 79) 25%, rgb(68, 212, 192) 51%, rgb(144, 58, 90) 100%);
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.bg_img{
    background: url(../Media/cloudy_register.png);
    background-position: center center;
}
.foot{
    position: absolute;
    font-size: xx-large;
    bottom: 0;
    width: 100%;
  height: 40px;
    color: #fff;
}
