<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PricePal</title>
        <link rel="stylesheet" href="../Css/cart.css" type="text/css">
    </head>
    <body>
        <main>
            <div class="bolitas"></div>
            <div class="bolitas"></div>
            <section class="glass">
                <div class="dashboard">
                    <!-- Sidebar -->
                    <div class="user">
                        <img src="../Media/WhatsApp Image 2022-11-14 at 7.57.04 PM.jpeg" alt="pfp">
                        <h3>Pinguiphine</h3>
                        <div class="links"></div>
                    </div>
                    <div class="links">
                        <div class="link">
                            <h2>WishList</h2>
                        </div>
                        <div class="link">
                            <h2>Popular</h2>
                        </div>
                        <div class="link">
                            <h2>On Sale!</h2>
                        </div>
                    </div>
                    <!-- Main List -->
                    <div class="products">
                        <div class="status">
                            <h1>WishList</h1>
                        </div>
                        <div class="cards">
                            <div class="card">
                                <img src="../Media/LickyChirms.jpg" alt="LickyChirms">
                                <div class="cardInfo">
                                    <h2>Licky Chirms</h2>
                                    <p>Cereal</p>
                                </div>
                                <div class="price">
                                    $5
                                </div>
                            </div>
                            <div class="card">
                                <img src="../Media/LickyChirms.jpg" alt="LickyChirms">
                                <div class="cardInfo">
                                    <h2>Licky Chirms</h2>
                                    <p>Cereal</p>
                                </div>
                                <div class="price">
                                    $6
                                </div>
                            </div>
                            <div class="card">
                                <img src="../Media/LickyChirms.jpg" alt="LickyChirms">
                                <div class="cardInfo">
                                    <h2>Licky Chirms</h2>
                                    <p>Cereal</p>
                                </div>
                                <div class="price">
                                    $7
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </body>
</html>

