<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link rel="icon" href="../media/favicon.ico">
        <link rel="stylesheet" href="../Css/index.css" type="text/css">
        <script src="../Js/Index.js"></script>
        <title>PricePal</title>
    </head>

    <body>
        <header>
            <a href="#" class="logo">PricePal</a>
            <ul>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </header>
        <div class="banner">
            <img src="../Media/727414.png" alt="fondo" style="width: 100%;">
                <p class="centered">PricePal</p>
        </div>
        <script type="text/javascript">
            window.addEventListener("scroll", function(){
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            })
        </script>
        <script type="text/javascript">
            window.addEventListener("scroll", function(){
                var header = document.querySelector("p");
                header.classList.toggle("sticky2", window.scrollY > 0);
            })
        </script>
    </body>
</html>