<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PricePal | Login</title>
    <link rel="stylesheet" href="../Css/login.css" type="text/css">
    <script src="../Js/login.js">
    </script>
</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="container">
                <div class="form">
                    <h2>Login</h2>
                    <form id="user-form">
                        <div class="inputBox">
                            <input type="text" id="username" name="username" placeholder="User">
                        </div>
                        <div class="inputBox">
                            <input type="password" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Login">
                        </div>
                        <p class="signUp">Not In? <a href="/register">Register now</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="foot">
            <p>PricePal© 2022</p>
        </div>
    </section>
</body>

</html>